git-project-url: https://github.com/pivotalservices/concourse-pcf-usage-report.git
pcf-api-endpoint: <FQDN OF PCF API ENDPOINT GOES HERE e.g. https://api.run.mydomain.com >
pcf-apps-domain: <PCF APPS DOMAIN e.g. run.mydomain.com >
pcf-sys-admin-user: <PCF SYSTEM ADMIN USER ID GOES HERE>
pcf-sys-admin-user-password: <PCF SYSTEM ADMIN USER ID GOES HERE>
