git-project-url: https://github.com/pivotalservices/concourse-pcf-usage-report.git

pcf-api-endpoint: <FQDN OF PCF API ENDPOINT GOES HERE e.g. https://api.run.mydomain.com >
pcf-apps-domain: <PCF APPS DOMAIN e.g. run.mydomain.com >
pcf-sys-admin-user: <PCF SYSTEM ADMIN USER ID GOES HERE>
pcf-sys-admin-user-password: <PCF SYSTEM ADMIN USER ID GOES HERE>
pcf-deploy-name: <ID or label for the PCF deployment, avoid spaces in the string e.g. production>
pcf-org: system
pcf-space: system

s3-bucket: <ID of the AWS S3 bucket to upload the usage report to>
s3-access-key-id: <Access key of the AWS S3 bucket>
s3-secret-access-key: <Secret access key of the AWS S3 bucket>
s3-region_name: <AWS S3 region name>

email-from: <your-email-address-with-host or sender email address>
email-to: <the-list-of-recipients-to-send-notification-emails-to>
