git-project-url: https://github.com/pivotalservices/concourse-pcf-usage-report.git

pcf-api-endpoint: ((pcf-api-endpoint))  # FQDN OF PCF API ENDPOINT e.g. https://api.run.mydomain.com
pcf-apps-domain: ((pcf-apps-domain))    # THE DOMAIN WHICH THE USAGE API RUNS IN. For PCF 2.0+, use the PCF system domain in e.g. system.mydomain.com
pcf-sys-admin-user: ((pcf-sys-admin-user))  # PCF SYSTEM ADMIN USER ID
pcf-sys-admin-user-password: ((pcf-sys-admin-user-password))  # PCF SYSTEM ADMIN USER ID
pcf-deploy-name: ((pcf-usage-report-deploy-name)) # ID or label for the PCF deployment, avoid spaces in the string e.g. production
pcf-org: ((pcf-usage-report-org))
pcf-space: ((pcf-usage-report-space))

s3-bucket: ((pcf-usage-report-s3-bucket))   # ID of the AWS S3 bucket to upload the usage report to
s3-access-key-id: ((pcf-usage-report-s3-access-key-id))  # Access key of the AWS S3 bucket
s3-secret-access-key: ((pcf-usage-report-s3-secret-access-key))  # Secret access key of the AWS S3 bucket
s3-region_name: ((pcf-usage-report-s3-region_name))  # AWS S3 region name

email-from: ((pcf-usage-report-email-from))   # your-email-address-with-host or sender email address
email-to: ((pcf-usage-report-email-to))  # the-list-of-recipients-to-send-notification-emails-to
